[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "This website build for farmers "
[access "refs/*"]
	owner = group user/Suraj Kumar  (Imsurajkr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Suraj Kumar  (Imsurajkr)
	label-Verified = -1..+1 group user/Suraj Kumar  (Imsurajkr)
	push = group user/Suraj Kumar  (Imsurajkr)
	read = group user/Suraj Kumar  (Imsurajkr)
	rebase = group user/Suraj Kumar  (Imsurajkr)
	removeReviewer = group user/Suraj Kumar  (Imsurajkr)
	submit = group user/Suraj Kumar  (Imsurajkr)
[access "refs/heads/*"]
	create = group user/Suraj Kumar  (Imsurajkr)
	push = +force group user/Suraj Kumar  (Imsurajkr)
	pushMerge = group user/Suraj Kumar  (Imsurajkr)
	read = group user/Suraj Kumar  (Imsurajkr)
[access "refs/tags/*"]
	push = group user/Suraj Kumar  (Imsurajkr)
	push = +force group user/Suraj Kumar  (Imsurajkr)
